footer{
    background-color: #f7f5f5;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    padding: 150px 0 50px;
    
}
.footer__left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer__left__logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--title-color);
    font-size: 20px;
    font-weight: 600;
}
.footer__left__logo span{
    font-weight: 800;
}

.footer__left__desc{
    max-width: 340px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: var(--desc-color);
}
.footer__left__desc span{
    color: var(--title-color);
}

.footer__right{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.footer__left__text{
    color: #AFB5C0;
}

.footer__right__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__right__item{
    color: var(--desc-color);
    font-size: 16px;
    font-weight: 400;
}
.footer__right__item h3{
    color: var(--title-color);
    font-size: 18px;
    font-weight: 500;
}


@media (max-width:1000px) {
    .footer__left__desc {
        max-width: 300px;
        font-size: 14px;
    }
}
@media (max-width:900px) {
    .footer__left__desc{
        font-size: 12px;
    }

    .footer__right__item{
        font-size: 14px;
    }


}


@media (max-width:730px){
    .footer__container{
        flex-wrap: wrap;
        gap: 50px;
    }
    .footer__left, .footer__right{
        width: 90%;
    }
    .footer__left__desc {
        max-width: 400px;
        font-size: 18px;
    }
        .footer__right__item {
            font-size: 18px;
        }

}

@media (max-width:600px) {
    

    .footer__left__desc {
        max-width: 400px;
        font-size: 14px;
    }

    .footer__right__item {
        font-size: 14px;
    }

}
@media (max-width:400px) {
    .footer__right{
        flex-direction: column;
        gap: 20px;
    }
    .footer__right__item {
        font-size: 18px;
    }

}

@media (max-width:350px) {
    
    .footer__right__item {
        font-size: 14px;
    }
}